@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Doodle+Shadow&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
#main{
    width: 100vw;
    display: grid;
    justify-items: center;
    text-align: center;
    font-family: "Poppins";
    gap: 10px 0;
}
img{
    height: 200px;
    transition: all 1s linear;
    margin: 10px 0;
}
#container{
    border: 6px ridge rgb(39, 107, 170);
}
.res{
    display: flex;

}
.res:nth-child(1){
    border: 4px ridge rgb(39, 107, 170);
}
.res h3{
    font-size: 24px;
}
.res h3:nth-child(-n+2){
    border-right: 4px ridge rgb(39, 107, 170);
}
.res h3:nth-child(n+2){
    border-left: 4px ridge rgb(39, 107, 170);
}
.res h3:first-child{
    padding: 5px 7px 5px 8px;
}
.res h3:nth-child(2){
    padding: 5px 3px;
}
.res h3:last-child{
    padding: 5px 10px 5px 12px;
}
.res p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    min-width: max-content;
    font: 50px "Rubik Doodle Shadow";
    border: 4px ridge rgb(39, 107, 170);
}
#choise, #aichoise{
    display: flex;
    justify-content: space-evenly;
    height: 15vh;
    width: 100vw;
    min-width: 250px;
    position: relative;
    align-items: center;
}
#choise>p{
    transform: scale(3.5);
    cursor: pointer;
    transition: all 1s linear;
    animation: rotateY 3s 0.5s infinite linear;
    filter:drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.74));
}
#aichoise p{
    transform: rotateX(180deg) scale(3.5);
    transition: all 1s linear;
    filter:drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.74)) grayscale(100%);
}
/* Robot animations classes */
.moveup{
    transform: translateY(-40px)
}
.moveright{
    transform: translateX(20px);
}
.scaledown{
    transform: scale(0.5);
}

/*.blink{
    animation: blink 0.8s 0.5s infinite linear;
    transform: scale(3.5);
    transition: all 0.8s linear;
    position: absolute;
    top: 0;
}
@keyframes blink {
    50%{opacity: 0.1;}
}
@keyframes rotateY {
    50%{transform: scale(3.5) rotateY(180deg);}
}*/
